.App {
  text-align: center;

  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rowc {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 25%;
}

.dest {
  position: relative;
  left: 150%;
  top: -200px;
}
.source {
  position: relative;
  top: -150px;
}

.btn {
  position: relative;
  left: 70%;
  top: -150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  top: -15px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
