.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rowc{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -10px;
}

.dest{
  position: relative;
  left: 40%;
  top: 200px;
}
.source{
  position: relative;
  
  top: 200px;
}

.butn {
  position: relative;
  left: -30%;
  top: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  top: -15px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
