
html{
    font-size: 16px;
}

body{
    background-color: #0f9969;
    margin: 0;
    font-family: sans-serif;
    color: black;
}

.container{
  width: 100%;
  margin: 3.2rem auto 0 auto;
}

@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px
  }
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}

h1{
  font-weight: 400;
}

#description{
  font-weight: 200;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

#survey-form{
   background: #777764;
   padding: 2.3rem 0.5rem;
   border-radius: 0.3rem;
}

.col2{
   float: left;
   width: 5%;
   margin-top: 6px;
   padding-left: 40%;
   position: relative;
 }

.form-input{
   margin: 0 2.5rem 1.2rem 2rem;
}

  
.form-row {
   display: flex;
 }


.form-input-size{
   display: block;
   width: 120%;
   height: 2rem;
   padding: 0.3rem 0.4rem;
   border-radius: 0.2rem;
   outline: 0;
   border-style: none;
   margin-top: 0.4rem;  
}

p{
 font-size: 1.12rem;
}

#radio-btn,
#check-box {
 margin-right: 0.5rem;
 min-height: 1.2rem;
 min-width: 1.2rem;
}

label {
 display: flex;
 align-items: center;
 font-size: 1.125rem;
 margin-bottom: 0.5rem;
}


textarea{
 width: 100%;
 min-height: 6rem;
 resize: vertical;
 padding: 0.5rem 0 0 0.5rem;
}

#submit{
 width: 100%;
 padding: 0.8rem;
 background: #4f4747;
 color: white;
 border-radius: 0.2rem;
 cursor: pointer;
 border: none;
}

#title{
   color: #4f4747;
   font-size:25px;
}

.text{
   background-color: black;
   color: black;
}


html{
    font-size: 16px;
}

body{
    background-color: #ebebde;
    margin: 0;
    font-family: sans-serif;
    color: black;
}

.container{
  width: 100%;
  margin: 3.2rem auto 0 auto;
}

@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px
  }
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}

h1{
  font-weight: 400;
}

#description{
  font-weight: 200;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}





.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #4f4747;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  background-color: #ffffff;
  width: 120%;
}
.autocomplete-items div:hover {
  background-color: #4f4747;
}
.autocomplete-active {
  
  color: #4f4747;
}


  
.outer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
 }
 
 #myfillDrawing {
  position: absolute;
  width: 100%;
  height: 100%;
 }
  
  
 














