* {
    box-sizing: border-box;
 }
 body {
    margin: 10px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 .autocomplete {
    position: relative;
    display: inline-block;
 }
 input {
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
 }
 input[type="text"] {
    background-color: #e1f6fc;
    width: 100%;
 }
 input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    position: relative;
    cursor: pointer;
    left: 120px; 
    top: 50px;
 }
 .autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
 }
 .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #8e26d4;
    border-bottom: 1px solid #d4d4d4;
 }
 .autocomplete-items div:hover {
    background-color: #e9e9e9;
 }
 .autocomplete-active {
    background-color: rgb(30, 255, 169) !important;
    color: #ffffff;
 }
